


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#world {
    padding-bottom: 10px;
}
table {
    background-color: whitesmoke;
}
td {
    border: 1px solid darkgray;
    width: 10px;
    height: 10px;
    cursor: pointer;
}


td.dead {
    background-color: transparent;
}
td.alive {
    background-image: url("/Users/jorgefernandes/Documents/projects/game_of_life.github.io/shopify_logo.png");
    background-color:rgb(149,191,70);
}

.display-world{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button{
    cursor: pointer;
    width: 200px;
}

.row{
    display: flex;
}
.rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.controls{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.horizontal-center{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title{
    display: flex;  
}

.r-margin-10{
    margin-right: 10px;
}